
@import url('https://fonts.googleapis.com/css?family=Raleway');
html{
	background: rgba(255,255,255,0.5) url("/stylesheets/deltapic.jpg") no-repeat 0 50%;
	/*background-color: rgba(255,255,255,0.5)*/
	font-family: 'Raleway', sans-serif;
} 
body {
	margin:0;
	padding:0;
	opacity: 1;
	top: 0;
}

#container {
	position: absolute;
}
#myChart {
	position: absolute;
	right:1;

}

#canvasElement{
	position: absolute;
	top:0;
	float: left;
}
.wrap {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	max-width:1200px;
  margin:auto;
  opacity: 1;
}
.main {
	flex: 1;
	display:flex;
	opacity: 1;
}
footer, header {
	
	padding:10px;
}
.sidebar {

	flex:0 0 300px;
	padding:10px;
}
.content{
	
	padding:10px;
	flex:1;
	opacity: 1;
}
@media screen and (max-width:680px){
	.sidebar{flex: 0;order:2}
	.main {flex-direction:column;}
}
